<div>
	<div>
		<span>id: </span>{{shift.id}}
	</div>
	<div>
		<span>shift: </span>{{shift.mileage}}
	</div>
	<div>
		<span>orderTotal: </span>{{shift.averageDolarsPerMile}}
	</div>
	<div>
		<span>tip: </span>{{shift.averageMileage}}
	</div>
	<div>
		<span>totalPaid: </span>{{shift.totalTips}}
	</div>
	<div>
		<span>maintenance: </span>{{shift.totalMileage}}
	</div>
	<div>
		<span>deliveryPayout: </span>{{shift.startMileage}}
	</div>
	<div>
		<span>shift: </span>{{shift.shiftStart}}
	</div>
	<div>
		<span>shift: </span>{{shift.shiftPayout}}
	</div>
	<div>
		<span>shift: </span>{{shift.shiftEnd}}
	</div>
	<div>
		<span>shift: </span>{{shift.numberOfDeliveries}}
	</div>
	<div>
		<span>shift: </span>{{shift.deliveries}}
	</div>
</div>